$font: 'Quicksand', sans-serif;

$background: rgb(248, 248, 68);

$themeViolet: rgb(121, 83, 197);
$themeGrey: #767676;

$inputShadow: 0px 6px 12px -7px black;

$fullSizeContentSize: 700px;

$mScreenSize: 500px;
$lScreenSize: 800px;