@use '../../variables.scss' as var;

.main {
    height: 100%;
    padding-bottom: 50px;
    &.not-searching {
        background-color: var.$background;
    }
    &-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-result {
            padding: 20px;
        }
    }
    &-error-message {
        text-align: center;
    }
}